body{
  height: 100vh;
  margin: 0;
  background: url('background.jpg') no-repeat center;
  background-size: cover;
}

.content{
}

.clock{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border: 10px solid brown;
  border-radius: 50%;
  background: url('clock.png') no-repeat center;
  background-size: cover;
}

.hand{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 4px;
  background: #000;
  transform-origin: left;
  transform: rotate(-90deg);
  /*transition: all .05s cubic-bezier(0, 1.08, 1, 1.43);*/
}

.hand:before{
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: gold;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -7.5px 0 0 -7.5px;
}

.hours{
  width: 30%
}

.minutes{
  height: 3px;
}

.seconds{
  background: #f00;
  height: 2px;
}
