html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0; /* Important! */
  font-family: sans-serif;
  background: #EC6F66;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F3A183, #EC6F66);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F3A183, #EC6F66); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
  margin: 48px auto;
  max-width: 680px;
  font-size: 18px;
  line-height: 2;
  position: relative;
}

.wrapper p {
  padding: 8px 24px;
}

.wrapper a {
  border-bottom: 2px solid rgba(0,0,0,0.05);
}

a {
  text-decoration: none;
  color: black;
  background: rgba(0,0,0,0.05);
  border-radius: 18px;
  padding: 4px 8px;
}

.highlight {
  transition: all 0.2s;
  border-bottom: 2px solid #FFF;
  position: absolute;
  top: 0;
  background: #FFF;
  left: 0;
  z-index: -1;
  border-radius: 18px;
  display: block;
  box-shadow: 0 2px 18px rgba(0,0,0,0.2);
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 48px 0;
  padding: 24px;
}

.menu a {
  display: inline-block;
  margin: 0 18px;
  color: black;
  padding: 8px;
}
