html {
  height: 100%;
  box-sizing: border-box;
  background: url('world.jpg') no-repeat center;
  background-size: cover;
  font-family: 'helvetica neue', Arial, sans-serif;
  font-size: 20px;
  font-weight: 200;
}

.search-form {
  max-width: 600px;
  margin: 48px auto;
}

input.search {
  margin: 0;
  padding: 16px;
  text-align: center;
  outline: 0;
  border: 0;
  border: 10px solid #F7F7F7;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
}

.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #EFEFEF 100%);
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #EFEFEF 100%);
}

span.country-name{
  font-weight: bold;
}

em.capital{
  font-weight: lighter;
}

span.native-name {
  font-size: 16px;
  font-style: italic;
}

.hl {
  background: #ffc600;
}
