html{
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Indie Flower', cursive;
}

body{
  margin: 0;
}

*, :before, :after{
  box-sizing: inherit;
}

.panels{
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel{
  text-align: center;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 20px;
  transition:
    font-size .7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex .7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    background .2s;
}

.panel-2{ background-image: url('images/rome.jpg'); }
.panel-3{ background-image: url('images/chambord.jpg'); }
.panel-4{ background-image: url('images/amsterdam.jpg'); }
.panel-5{ background-image: url('images/rugen-plage.jpg'); }
.panel-6{ background-image: url('images/majorque-plage.jpg'); }
.panel-7{ background-image: url('images/parc.jpg'); }
.panel-8{ background-image: url('images/koi.jpg'); }
.panel-9{ background-image: url('images/pantheon.jpg'); }

.panel > *{
  margin: 0;
  width: 100%;
  transition: transform .7s, font-size .7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel p{
  text-transform: uppercase;
  font-size: 2em;
  text-shadow: 0 0 4px rgba(0,0,0,0.7), 0 0 14px rgba(0,0,0,0.4);
}

.panel p:nth-child(1){
  transform: translateY(-100%);
}

.panel p:nth-child(3){
  transform: translateY(100%);
}

.panel.open{
  flex: 5;
}

.panel.open p:nth-child(2){
  font-size: 4em;
}

.panel.opened p:nth-child(1),
.panel.opened p:nth-child(3){
  transform: translateY(0);
}
