body {
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'helvetica neue', Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 48px;
  text-shadow: 10px 10px 0 rgba(0,0,0,0.1);
  text-transform: uppercase;
  margin: 24px 0;
  color: #ffffff;
}

.words {
  box-sizing: border-box;
  width: 90%;
  max-width: 800px;
  margin: 24px auto;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
  padding: 0.6rem 2rem 1rem 4rem;
  background: #ffffff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background-size: 100% 2rem;
  position: relative;
  line-height: 2rem;
}

.words:before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent pink;
}

p {
  margin: 0 0 2rem;
}

p ~ p:last-of-type {
  margin-bottom: 0;
}
