html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.detected-key {
  opacity: 0;
  font-weight: bolder;
  animation: appear 1s;
  -webkit-animation: appear 1s;
}

.win {
  font-size: 180px;
  font-weight: bolder;
  text-shadow: 5px 5px 5px #ff0, 10px 10px 10px #f00;
}

@keyframes appear {
    from {
      opacity: 0;
      font-size: 20px;
    }
    to {
      opacity: 1;
      font-size: 200px;
    }
}

@-webkit-keyframes appear {
    from {
      opacity: 0;
      font-size: 20px;
    }
    to {
      opacity: 1;
      font-size: 200px;
    }
}
