html {
  color: black;
  font-family: sans-serif;
  background: #c21500;
  background: -webkit-linear-gradient(to right, #ffc500, #c21500);
  background: linear-gradient(to right, #ffc500, #c21500);
}

body {
  margin: 0;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

h1 {
  color: #f7f7f7;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font-size: 120px;
}

h1::after {
  content: '*';
  font-size: 32px;
  vertical-align: text-top;
}

p {
  position: absolute;
  bottom: 0;
  font-style: italic;
  font-size: small;
}
