html {
  font-family: sans-serif;
  background: #ffc600;
  font-family: 'helvetica neue', sans-serif;
  font-size: 16px;
}

.container {
  width: 600px;
  max-width: 100%;
  margin: 50px auto;
}

h1 {
  text-align: center;
  font-size: 64px;
  text-shadow: 10px 10px 0 rgba(0,0,0,0.1);
  text-transform: uppercase;
  margin: 50px 0 0;
}

.todo-list,
.new-todo {
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}

.new-todo {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border: none;
  outline: none;
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  background: #F9F9F9;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 16px;
}

.item p {
  margin: 0;
  padding: 16px;
  transition: background 0.2s;
  flex: 1;
  font-weight: 200;
  border-left: 1px solid #D1E2FF;
}

.explications {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  font-weight: 200;
}