body{
  height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
  background: url('background.jpg') no-repeat center;
  background-size: cover;
}

.keyboard{
  height: 180px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.key{
  display: inline-block;
  position: relative;
  background: ivory;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.3);
  border-radius: 0 0 5px 5px;
  transition: all .5s;
  width: 50px;
  height: 100%;
  transform-origin: center top;
}

.key.black{
  z-index: 2;
  background: #000;
  color: #fff;
  width: 40px;
  height: 66%;
  position: absolute;
  transform: translateX(-50%);
}

.key:not(.black).playing{
  background: #e6e6d8;
  transform: scale(0.98);
}

.key.black.playing{
  background: #484848;
  transform: translateX(-50%) scale(0.98);
}

.key kbd{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.sound{
  position: absolute;
  bottom: -40px;
  text-transform: capitalize;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
}

.key.black .sound{
  bottom: auto;
  top: -40px;
  color: #000;
}