html {
  box-sizing: border-box;
  background: #1488CC;
  background: -webkit-linear-gradient(to bottom, #2B32B2, #1488CC);
  background: linear-gradient(to bottom, #2B32B2, #1488CC);
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
}

h1 {
  margin-top: 0;
}

.content {
  max-width: 680px;
  margin: 40px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  overflow: hidden;
}

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition:all .5s;
}

.align-left.slide-in {
  transform: translateX(-50%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(50%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
